.search_form{
  width: 20%;
  margin: 6rem 0 0 12%;

  label{
    font-size: 1.4rem;
    margin-right: 1rem;
  }
  input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
  }
}